@using MagazineManagment.DTO.ViewModels

@using FormHelper
@addTagHelper *, FormHelper

@model CategoryCreateViewModel
@{
    ViewData["Title"] = "Create";
}


<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-formhelper="true" asp-controller="CategoryClient" asp-action="Create" method="post" asp-antiforgery="true" asp-resetFormAfterSuccess="false" asp-enableButtonAfterSuccess="false">

    <div class="form-group">
        <label asp-for="CategoryName"></label>
        <input asp-for="CategoryName" type="text" placeholder="Category Name" class="form-control" />
        <span asp-validation-for="CategoryName" class="text-danger"></span>
    </div>
    <br />
    <input type="submit" value="Create category" class="btn btn-primary" />
</form>