@using MagazineManagment.DTO.ViewModels
@model CategoryViewModel

@using FormHelper
@addTagHelper *, FormHelper

<form asp-formhelper="true" asp-action="Edit" asp-controller="CategoryClient" method="post" asp-antiforgery="true" asp-resetFormAfterSuccess="false" asp-enableButtonAfterSuccess="false" onsubmit="formVlidation()">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CategoryName" ></label>
        <input asp-for="CategoryName" type="text" placeholder="Category Name" class="form-control"/>
        <span asp-validation-for="CategoryName"  class="text-danger"></span>
    </div>
    <br />
    <input type="submit" value="Update category" class="btn btn-green" />
</form>

<div class="loadingio-spinner-pulse-74mroih09kc" id="loader">
    <div class="ldio-p03kydz5gtb">
        <div></div><div></div><div></div>
    </div>
</div>