@using MagazineManagment.DTO.ViewModels
@model IEnumerable<CategoryViewModel>
@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<div class="btn-center">
    <a asp-controller="CategoryClient" asp-action="Create" class="btn btn-primary">Create new category</a>
</div>
<br />
<br />
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th scope="col">Category name</th>
                <th scope="col">Created on</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CategoryName</td>
                    <td>@item.CreatedOn?.ToString("MMMM dd, yyyy")</td>
                    <td>
                        <a asp-action="Edit" asp-controller="CategoryClient" asp-route-id="@item.Id" class="btn btn-green"><i class="fa-solid fa-pen-to-square"></i></a> |
                        <a asp-action="Delete" asp-controller="CategoryClient" asp-route-id="@item.Id" class=" btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        <tbody>
    </table>
</div>

