@using MagazineManagment.DTO.ViewModels
@model RoleCreateViewModel

@using FormHelper
@addTagHelper *, FormHelper

@{
    ViewData["Title"] = "Create";
}

<form asp-formhelper="true" asp-action="Create" asp-controller="ProfileClient" method="post" asp-antiforgery="true" asp-resetFormAfterSuccess="false" asp-enableButtonAfterSuccess="false">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="RoleName" ></label>
        <input asp-for="RoleName" type="text" placeholder="Role name" class="form-control"/>
        <span asp-validation-for="RoleName"  class="text-danger"></span>
    </div>
    <br />
    <input type="submit" value="Create role" class="btn btn-primary" />
</form>
