@using MagazineManagment.DTO.ViewModels
@model RolesGetAllDetails

@using FormHelper
@addTagHelper *, FormHelper

@{
    ViewData["Title"] = "Delete";
}

@if (Model.RoleName != "Admin")
{
    <form asp-formhelper="true" asp-action="Delete" asp-controller="ProfileClient" method="post" method="post" asp-antiforgery="true" asp-resetFormAfterSuccess="false" asp-enableButtonAfterSuccess="false" onsubmit="formVlidation()">
        <h3>Are you sure to delete this record?</h3>
        <input type="submit" value="Yes" class="btn btn-danger" />
        <a asp-action="Index" asp-controller="ProfileClient" class="btn btn-green">No</a>
        <div asp-validation-summary="ModelOnly" class="text-green"></div>
        <div class="form-group">

            <label asp-for="RoleName"></label>
            <input readonly asp-for="RoleName" type="text" placeholder="Product Name" class="form-control" />

            <label asp-for="RoleNameNormalized"></label>
            <input readonly asp-for="RoleNameNormalized" type="text" placeholder="Seial Number" class="form-control" />

            <input asp-for="RoleId" hidden />
        </div>
    </form>
}
else if (Model.RoleName == "Admin")
{
    <div class="form-group">

        <label asp-for="RoleName"></label>
        <input readonly asp-for="RoleName" type="text" placeholder="Product Name" class="form-control" />

        <label asp-for="RoleNameNormalized"></label>
        <input readonly asp-for="RoleNameNormalized" type="text" placeholder="Seial Number" class="form-control" />

    </div>
}
<br />
<div class="card">
    <div class="card-header">
        <h2>Remove users from this role</h2>
    </div>
    <div class="card-body">
        <a asp-action="RemoveRoleFromUsers" asp-controller="ProfileClient" asp-route-id="@Model.RoleId" class="btn btn-danger">Go to page</a>
    </div>
</div>

<div class="loadingio-spinner-pulse-74mroih09kc" id="loader">
    <div class="ldio-p03kydz5gtb">
        <div></div><div></div><div></div>
    </div>
</div>