@using MagazineManagment.DTO.ViewModels
@model ProfileUpdateViewModel

@using FormHelper
@addTagHelper *, FormHelper

@{
    ViewData["Title"] = "Update";
}

<form asp-formhelper="true" asp-action="Update" asp-controller="ProfileClient" method="post" asp-antiforgery="true" asp-resetFormAfterSuccess="false" asp-enableButtonAfterSuccess="false">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="RoleName"></label>
        <input asp-for="RoleName" type="text" placeholder="Category Name" class="form-control" />
        <span asp-validation-for="RoleName" class="text-danger"></span>
        <input asp-for="RoleId" hidden />
    </div>
    <br />
    <input type="submit" class="btn btn-green" value="Update" />
</form>
<br />
<div class="card">
    <div class="card-header">
        <h2>Add users from this role</h2>
    </div>
    <div class="card-body">
        <a asp-action="AsingRoleToUsers" asp-controller="ProfileClient" asp-route-id="@Model.RoleId" class="btn btn-green">Go to page</a>
    </div>
</div>