* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

body {
    /*font-family: Helvetica;*/
    background: #fff;
}



.btn-primary {
    background-color: rgba( 71, 147, 227, 1);
    color: #fff;
    outline: none;
    border: none;
}

    .btn-primary:hover {
        background-color: #4FC3A1;
        color: #fff;
    }

.btn-green {
    background-color: green;
    color: #fff;
}

    .btn-green:hover {
        color: green;
        background-color: #fff;
        border-color: green;
    }

.btn-danger:hover {
    color: #dc3545;
    background-color: #fff;
}

.btn-primary-plus {
    background-color: #0d6efd;
    color: #ffff;
}

    .btn-primary-plus:hover {
        background-color: #fff;
        color: #0d6efd;
    }

.btn-danger:hover {
    color: #dc3545;
    background-color: #fff;
}

.form-group-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .form-group-image h1 {
        margin: 0px 30px;
    }

.form-group-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .form-group-image h1 {
        margin: 0px 30px;
    }

h2 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    padding: 30px 0;
}

.btn-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom:20px;
}
/* Table Styles */
.table-wrapper {
   /* margin: 10px 10px 10px;*/
    /*box-shadow: 0px 135px 180px rgba( 0, 0, 0, 0.2 );*/
}

.fl-table {
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    box-shadow: 0px 50px 80px rgba( 0, 0, 0, 0.2 );
}

    .fl-table td, .fl-table th {
        text-align: center;
        padding: 10px;
    }

    .fl-table td {
        border-right: 1px solid #f8f8f8;
        font-size: 14px;
    }

    .fl-table thead th {
        color: #ffffff;
        background: #4FC3A1;
    }


        .fl-table thead th:nth-child(odd) {
            color: #ffffff;
            background: #324960;
        }

    .fl-table tr:nth-child(even) {
        background: #F8F8F8;
    }

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }

        .fl-table thead th:last-child {
            border-bottom: none;
        }

    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
        display: table-cell;
    }

        .fl-table tbody tr:nth-child(odd) {
            background: none;
        }

    .fl-table tr:nth-child(even) {
        background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}


.container1 {
    margin-top: 90px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 70px 70px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    position: relative;
    background-color: #808080;
    cursor: pointer;
    transition: .3s ease-in-out;
}

    .card1 h1, .card p {
        color: white;
        padding-top: 10px;
        opacity: 1;
    }

    .card1 a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 20px;
    }

    .card1:hover {
        transform: scale(1.1);
        background-color: #324960;
    }

.text-center {
    margin-top: 100px;
}

.form-input {
    outline: none;
    border: 2px solid #324960;
    padding: 5px;
    width: 300px;
}
.submitBtn{
    background-color: transparent;
    padding:5px;
    text-transform:uppercase;
    border:2px solid #324960;
    transition: 0.5s all ease-in-out;
    color:gray;
}

.submitBtn:hover{
    transform:scale(1.1);
}
