@using MagazineManagment.DTO.ViewModels
@using MagazineManagment.Shared.Enums
@model ProductViewModel
@{
    ViewData["Title"] = "DetailsOfProductChangedByEmployee";
}

@if(Model.ProductName == null){
    <div class="account-page">
        <div class="container">
            <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <h1>This product has been deleted!!</h1>
                        </div>
                        <div class="card-body">
                            <h2 style="color:red">No more information about this product</h2>
                        </div>
                    </div>
            </div>
        </div>
    </div>
}
else{
    <br />
    <br />
    <div class="form-group">
        <label asp-for="ProductName"></label>
        <input readonly asp-for="ProductName" type="text" placeholder="Product Name" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
        <br />
        <label asp-for="SerialNumber"></label>
        <input readonly asp-for="SerialNumber" type="text" placeholder="Seial Number" class="form-control" />
        <span asp-validation-for="SerialNumber" class="text-danger"></span>
        <br />
        <label asp-for="ProductInStock"></label>
        <input readonly asp-for="ProductInStock" type="number" placeholder="Product in stock" class="form-control" />
        <span asp-validation-for="ProductInStock" class="text-danger"></span>
        <br />
        <label asp-for="ProductDescription"></label>
        <input readonly asp-for="ProductDescription" type="text" placeholder="Product description" class="form-control" />
        <span asp-validation-for="ProductDescription" class="text-danger"></span>
        <br />
        <div class="form-group-image">
            <img src="data:image/png;base64,@Model.Image" width="400px" id="img" />
            <img id="img2" />
        </div>
        <br />
        <label asp-for="CurrencyType"></label>
        <input readonly asp-for="CurrencyType" type="text" placeholder="Product description" class="form-control" />
        <span asp-validation-for="CurrencyType" class="text-danger"></span>
    </div>
}

<script>
    var loadImage = function(event){
        var image = document.getElementById('img2');
        image.style.width = "400px";
        image.src = URL.createObjectURL(event.target.files[0]);
    }
</script>

