@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:white">Welcome</h1>
</div>

<a asp-action="Index" asp-controller="ProductClient">Products</a>

<br />

<a asp-action="Index" asp-controller="CategoryClient">Categories</a>

<br />

<a asp-action="Index" asp-controller="ProfileClient">Roles</a>

<br />

<a asp-action="Claims" asp-controller="ProfileClient">claims</a>

<br />

<a asp-action="GetChangesMadeByEmployees" asp-controller="ProductClient">channges to products by employees</a>